/* 变量存放 */
/* 方法存放 */
/* 头尾样式 */
header {
  background: yellow;
}
footer {
  background: gray;
}
/* 计算文件 */
/* 通用文件 */
a,
.link {
  color: #428bca;
}
a:hover {
  color: #3071a9;
}
.widget {
  color: #fff;
  background: #428bca;
}
body {
  background: red;
}
